config/dev.yml
config/private.yml
config/final.yml
config/blobs.yml
releases/*.tgz
dev_releases
blobs
.blobs
.dev_builds
.idea
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
.gitreview
.cache

packages/common
packages/dea_jvm
packages/ruby
packages/sqlite
packages/syslog_aggregator


src/common
src/pkg_utils
src/syslog_aggregator
